@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {

  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* font utilities */
  --font-helvetica: var(--font-helvetica);
  --font-editorial: var(--font-editorial);
  --font-mono: var(--font-geist-mono);

  /* default Tailwind tokens */
  --font-sans: var(--font-helvetica);
  --font-serif: var(--font-editorial);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-helvetica);
}